body {
    font-size: 25px;
}


.block {
    border: 2px solid black;
    border-radius: 40px 0px 0px 40px ;
    background: #fff2ce;
    width: 1900px;
    height: 670px;
    overflow: auto;


}
.block1 {
    display: inline-block;
    width: 400px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: rgb(201, 169, 144);
    box-sizing: border-box;
    padding: 40px ;
    margin: 10px;
    box-shadow: 0px 0px 30px -10px rgb(0, 0, 0) inset;
}